CircleSoapClient/xml-resources/web-service-references/CircleService/wsdl/localhost_8080/CircleSoapService/CircleService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="circleArea" type="tns:circleArea"/>

<xs:element name="circleAreaResponse" type="tns:circleAreaResponse"/>

<xs:element name="circumFerence" type="tns:circumFerence"/>

<xs:element name="circumFerenceResponse" type="tns:circumFerenceResponse"/>

<xs:complexType name="circleArea">
<xs:sequence>
<xs:element name="radius" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="circleAreaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="circumFerence">
<xs:sequence>
<xs:element name="radius" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="circumFerenceResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>